<div class="contenedor">
    <div>
        <p>CLINICA DEL OESTE</p>
    </div>
    <section>
        <div>
            <a routerLink="login">INGRESAR</a>
        </div>
        <div (click)="abrirOpciones()">
            REGISTRARSE
        </div>
    </section>
    <div id="tipoUsr" *ngIf="flagRegistro">
        <a routerLink="registro">
            <div class="tipoUsuario" (click)="esPaciente()">
                Paciente
            </div>
        </a>
        <a routerLink="registro">
            <div class="tipoUsuario" (click)="esProfesional()">
                Profesional
            </div> 
        </a>
    </div>
</div>
<img id="favicon" src="./../../../../assets/favicon.png" alt="favicon.png">
 
