.container-fluid{
    margin-top: 20px;
    min-height: 70vh; 
    padding: 0;
  }
  
  .form-signin{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
  h1{
    color: #eee;
    text-shadow: 0 0 10px rgba(250,250,250,.8);
  }
  
  .form-floating{
    width: 35%;
    margin: 5px;
  }
  
  .formulario{
    background-image: url('./../../../../assets/img/fondoRegistro.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  button{ 
    margin-top: 15px;
    width: 25%;
  }
  
  .datosInvalidos{
    color: #fff;
    display: block;
    width: 100%;
    text-align: start;
  }

  #existe{
    color: tomato;
    font-size: 1.1rem;
  }

  
  
  