*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{
 background-color: darkslateblue;
 height: 10vh; 
 display: flex;
 justify-content: center;
 align-items: flex-end;
 margin-bottom: 5px;
}

nav a{
    color: #eee;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 5px 10px;  
}

nav a:hover{
    color: #fff;
}

body{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.inputsEdades{
    border: 1px solid yellow;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resultados{
    border: 1px solid yellow;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
