*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#codigo{
    position: absolute;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    top: 4%;
    right: 2%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav{
 background-color: darkslateblue;
 height: 10vh; 
 display: flex;
 justify-content: center;
 align-items: flex-end;
 margin-bottom: 5px;
 position: relative;
}

nav a{
    color: #eee;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 5px 10px;  
}

nav a:hover{
    color: #fff;
}

body{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.inputsEdades{
    border: 1px solid yellow;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resultados{
    border: 1px solid yellow;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
