<nav>
  <a routerLink="login">Login</a>
  <a routerLink="registro">Registro</a>
</nav>
<a href="https://github.com/pablo4192/laboratorio4/tree/master/ejercicio1" target="_blank" id="codigo">Ver codigo gitHub</a>
<router-outlet></router-outlet>
<!-- <body>
  <div class="inputsEdades">
    <div>
      <label for="edad1">Ingrese edad 1: </label> <input type="text" name="edad1" [(ngModel)]="edad1">
    </div>
    <div>
      <label for="edad2">Ingrese edad 2: </label> <input type="text" name="edad2" [(ngModel)]="edad2">
    </div>
  </div>
  <div class="resultados">
    <div>
      <label for="suma">Suma: </label> <input type="text" name="suma" [(ngModel)]="suma">
    </div>
    <div>
      <label for="promedio">Promedio: </label> <input type="text" name="promedio" [(ngModel)]="promedio">
    </div>
  </div>
  <div class="botones">
    <input type="button" value="Calcular" (click)="calcular()">
  </div>
</body> -->