<div id="contenedor">
    <form>
        <h2>Alta Pelicula</h2>
        <small *ngIf="altaExitosa" style="color:rgb(105, 175, 0); font-size: 1rem;">Alta exitosa</small>
        <div class="dataForm">
            <label for="nombre">Nombre:</label><input type="text" name="nombre" [(ngModel)]="this.pelicula.nombre">
        </div>
        <div class="dataForm">
            <label for="tipo">Tipo</label>
            <select name="tipo" [(ngModel)]="this.pelicula.tipo">
                <option value="" hidden></option>
                <option value="Amor">Amor</option>
                <option value="Terror">Terror</option>
                <option value="Comedia">Comedia</option>
                <option value="Otros">Otros</option>
            </select>
        </div>
        <div class="dataForm">
            <label for="fechaEstreno">Fecha estreno:</label><input type="text" name="fechaEstreno" placeholder="aaaa-mm-dd" [(ngModel)]="this.pelicula.fecha_estreno" >
        </div>
        <div class="dataForm">
            <label for="publico">Cantidad publico:</label><input type="number" name="publico" [(ngModel)]="this.pelicula.cantidad_publico">
        </div>
        <div class="dataForm">
            <label for="actor">Actor:</label><input type="text" name="actor" value='{{this.actorSeleccionado?.nombre}} {{this.actorSeleccionado?.apellido}}' readonly placeholder="Escoja actor de tabla actores">
        </div>
        <div class="dataForm">
            <input type="file" accept="image/*" (change)="event = $event">
        </div>
        <div id="confirmar">
            <input type="button" value="Confirmar alta" (click)="altaPelicula()">
        </div>
    </form>
    <app-tabla-actores [actores]="this.actores" (actorSeleccionado)="manejarEventoActor($event)"></app-tabla-actores>
</div>
