*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

form{
    width: 40vw;
    height: 95vh;
    padding: 20px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} 

app-loading, app-verificacion-mail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

app-verificacion-mail{
    background-color:azure;
}



