*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80% 100%;

    position: relative;
}

form{
    width: 40vw;
    height: 100vh;
    padding: 30px 60px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 4px solid #fff;
    
} 

app-loading, app-verificacion-mail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

app-verificacion-mail{
    background-color:azure;
}

#altaExitosa{
    color: rgb(5, 198, 5);
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(240,240,240,.5);

    img{
        width: 30px;
    }
}



