*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor{
    background-color: rgb(217, 200, 87);
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}